<div class="box">
    <mat-card class="two">
        <h1>Atualizar Endereço</h1>
        <mat-form-field appearance="fill" class="bar">
            <mat-label class="white">Cep</mat-label>
            <input [(ngModel)]="newAddressClient.address.cep" matInput class="white" placeholder="Ex: 00000000">
        </mat-form-field>
        <mat-form-field appearance="fill" class="bar" >
            <mat-label class="white">Numero da casa</mat-label>
            <input [(ngModel)]="newAddressClient.address.number" matInput class="white" placeholder="Ex: 20">
        </mat-form-field>
        <button (click)="update()" mat-raised-button color="primary" class="initial">Atualizar</button>
        <button (click)="backNavigate()" mat-raised-button color="primary" class="cancel">Cancelar</button>
    </mat-card>
</div>
