.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.search{
    cursor: pointer;
    margin-left: 10px;
}

.bar{
    width: 97%;
}

table {
    width: 100%;
}

mat-icon{
    cursor: pointer;
    transition: 1s;
}

mat-icon :hover{
    color: white;
    background-color: black;
}

.bar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 1rem;
}

.mat-elevation-z8{
    width: 80%;
    height: 50%;
    margin: auto auto auto auto;
}

.container{
    width: 80%;
    margin: auto auto auto auto;
}

.box {
   text-align: center;
}

table {
    width: 100%;
}

.inital{
   margin-right: 1rem;
}

.center {
   margin-right: 1rem;
}

.meio{
    width: 5%;
    margin-top: 1rem;
    margin-left: 10%;
}
