<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink>
                <i class="material-icons">home</i> Home
            </a>
            <a mat-list-item routerLink="products">
              TODOS <i class="material-icons">keyboard_arrow_right</i>
            </a>
            <a mat-list-item routerLink="products/handbags">
              BOLSAS <i class="material-icons">keyboard_arrow_right</i>
            </a>
            <a mat-list-item routerLink="products/shirts">
              CAMISAS <i class="material-icons">keyboard_arrow_right</i>
            </a>
            <a mat-list-item routerLink="products/pants">
              CALÇAS <i class="material-icons">keyboard_arrow_right</i>
            </a>
            <a mat-list-item routerLink="products/skirts">
              SAIAS <i class="material-icons">keyboard_arrow_right</i>
            </a>
            <a mat-list-item routerLink="products/shorts">
              SHORTS <i class="material-icons">keyboard_arrow_right</i>
            </a>
            <a mat-list-item routerLink="products/sneakers">
              TÊNIS <i class="material-icons">keyboard_arrow_right</i>
            </a>
        </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>view_headline</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
</mat-drawer-container>
  
