.container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.bar{
    width: 100%;
    display: inline;
}

.end{
    margin-top: 1rem;
    width: 100%;
    display: inline;
}

h1{
    text-align: center;
}

h3{
    cursor: pointer;
    color: #0395d3;
    text-decoration: underline;
    text-align: center;
}