.container{
    width: 40%;
    text-align: right;
    margin-top: -45px;
    margin-right: 0rem;
    margin-left: auto;
    margin-bottom: -164px;
    background-color:  #E3E3E3;
}

.box{
    display: flex;
}

.twobox{
    margin-top: 8rem;
}

.bar{
    width: 60%;
    display: inline;
    margin-right: 9rem;
    background-color: black;
}
.end{
    margin-top: 1rem;
    width: 60%;
    display: inline;
    margin-right: 9rem;
}

.user{
    width: 57%;
    align-items: center;
    margin-right: 10rem;
    color: white;
    
}

.pass{
    width: 57%;
    align-items: center;
    margin-right: 10rem;
    color: white;
}

h1{
    color: black;
    text-align: center;
}

h3{
    margin-top: -15px;
    color: black;
    text-align: center;
}

mat-label{
    color: black;
}

input::placeholder{
    color: gray;
}

input{
    color: black;
}

img{
    margin-left: 15rem;
}
