.header{
    height: 10%;
    display: flex;
    background-color: #E3E3E3;
}

h1{
    border: 1px solid rgb(68, 67, 67);
    padding: .4rem 5%;
    border-radius: 5px;
}

.mat-elevation-z8{
    border-color:#E3E3E3;
    color: black;
}

.example-spacer {
    flex: 1 1 auto;
}

.container{
    display: flex;
    text-align: center;
    margin-left: 85%;
}

.user{
    margin-left: 84%;
}

.login{
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

.login:hover{
    color: white;
    background-color: black;
}

.register{
    color: white;
    margin-top: 10px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
}

.register:hover{
    color: white;
    background-color: black;
}

.client{
    color: white;
    margin-top: 10px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
}

.client:hover{
    color: white;
    background-color: black;
}

.operator{
    color: white;
    margin-top: 10px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
}

.operator:hover{
    color: white;
    background-color: black;
}

.menu-login{
    background-color: white;
}

.logout{
    margin-top: 10px;
    color: white;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
}


.logout:hover{
    color: white;
    background-color: rgb(207, 5, 5);
}