.header{
    height: 10%;
    display: flex;
}

h1{
    border: 1px solid rgb(68, 67, 67);
    padding: .4rem 5%;
    border-radius: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

.container{
    display: flex;
    text-align: center;
    margin-left: 85%;
}

.user{
    margin-left: 84%;
}

.login{
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

.login:hover{
    color: white;
    background-color: black;
}

.register{
    background-color: white;
    color: black;
    margin-top: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
}

.register:hover{
    color: white;
    background-color: black;
}

.menu-login{
    background-color: white;
}