<div class="container">
    <mat-form-field appearance="fill" class="bar">
        <mat-label>Nome do produto</mat-label>
        <input [(ngModel)]="product.name" [formControl]="name" required name="name" matInput placeholder="Ex. camisa verde">
    </mat-form-field>
    <mat-form-field appearance="fill" class="bar">
        <mat-label>Quantidade do produto</mat-label>
        <input type="number" [(ngModel)]="product.quantity" [formControl]="quantity" required quantity="quantity" matInput placeholder="Ex. 20">
    </mat-form-field>
    <mat-form-field appearance="fill" class="bar">
        <mat-label>Preço do produto</mat-label>
        <input [(ngModel)]="product.price" [formControl]="price" required price="price" matInput placeholder="Ex. 59.90">
    </mat-form-field>
    <button (click)="create()" mat-raised-button color="primary" class="center">Criar</button>
    <button (click)="back()" mat-raised-button color="primary" class="center">Voltar</button>
</div>

