mat-card{
    width: 80%;
    height: 50%;
    margin: 1rem auto auto auto;
    display: flex;
    background-color: #E3E3E3;
}

button{
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 1rem;
    background-color: black;
}

input{
    margin-top: auto;
    color: white;
    background-color: #424242;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
}

h4{
    margin-top: 10px;
    margin-bottom: -5px;
    color: black;
    text-align: center;
}

.box{
    margin-left: 35%;
    display: flex;
    height: 20%;
}

.secondbox{
    margin-left: -20%;
    margin-top: 5%;
    display: flex;
    height: 50%;
}

.bar{
    margin-left: 1rem;
    background-color: black;
    border: 1px solid white;
    transition: 1s;
}

.bar:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.end{
    margin-bottom: 1rem;
}

.container{
    display: inline;
    align-items: initial;
}

.linha{
    display: inline;
}