<mat-card class="mat-elevation-z8">
    <button mat-raised-button color="primary" class="bar">Menu operador</button>
    <button mat-raised-button color="primary" class="bar">Menu produtos</button>
    <button mat-raised-button color="primary" class="bar">Menu pedidos</button> 
</mat-card>
<mat-card class="mat-elevation-z8">
    <div>
        <button (click)="retorno()" mat-raised-button color="primary" class="end">Mostrar operador</button>
        <div class="container">
            <h4>
                ID:<input [(ngModel)]="operatorAuthenticated.id" disabled>
            </h4>
            <h4>
                USERNAME:<input [(ngModel)]="operatorAuthenticated.username" disabled>
            </h4>
            <h4>
                CARGO:<input [(ngModel)]="operatorAuthenticated.responsibility" disabled>
            </h4>
        </div>
    </div>
</mat-card>

