.bar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 1rem;
}

.mat-elevation-z8{
    width: 80%;
    height: 50%;
    margin: auto auto auto auto;
}

.container{
    width: 80%;
    margin: auto auto auto auto;
}

.box {
   text-align: center;
}

table {
    width: 100%;
}

.inital{
   margin-right: 1rem;
}

.center {
   margin-right: 1rem;
}
