.bar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 1rem;
}

.mat-elevation-z8{
    width: 80%;
    height: 50%;
    margin: auto auto auto auto;
}

.container{
    width: 80%;
    margin: auto auto auto auto;
}

.box {
   text-align: center;
}

table {
    width: 100%;
}

.inital{
    margin-left: 1rem;
    background-color: black;
    border: 1px solid white;
    transition: 1s;
}

.inital:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}


.center{
    margin-left: 1rem;
    background-color: black;
    border: 1px solid white;
    transition: 1s;
}

.center:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.final{
    margin-left: 1rem;
    background-color: black;
    border: 1px solid white;
    transition: 1s;
}

.final:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.meio{
    width: 5%;
    margin-top: 1rem;
    margin-left: 5%;
    border: 1px solid white;
    transition: 1s;
    background-color: black;
}

.meio:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    border: #E3E3E3 solid;
}

.search{
    cursor: pointer;
    margin-left: 10px;
}

th{
    border-radius: 12px 12px 0 0;
}

mat-paginator{
    border-radius: 0 0 12px 12px;
    background-color: #212121;
}

table {
    width: 100%;
    border-radius: 1rem;
    background-color: #212121;
}

mat-form-field {
    width: 100%;
    align-items: center;
}
