.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    border: #E3E3E3 solid;
}

.search{
    cursor: pointer;
    margin-left: 10px;
}

.bar{
    width: 97%;
}

th{
    border-radius: 12px 12px 0 0;
}

mat-paginator{
    border-radius: 0 0 12px 12px;
    background-color: #212121;
}

table {
    width: 100%;
    border-radius: 1rem;
    background-color: #212121;
}

[data-tooltip] {
    position: relative;
  }
  
[data-tooltip]:after {
    display: none;
    position: absolute;
    top: -5px;
    padding: 5px;
    border-radius: 3px;
    left: calc(100% + 2px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #0095ff;
    color: White;
}
  
[data-tooltip]:hover:after {
   display: block;
}