.container{
    width: 30%;
    height: 10%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #212121;
    border-radius: 2rem;
    box-shadow:0 0 1em black;
}

.box{
    display: flex;
}

.bar{
    margin-left: 10%;
}

mat-form-field{
    width: 80%;
}

mat-option{
    background-color: black;
}

button{
    margin-left: 1%;
}

h1{
    text-align: center;
}

.button{
    margin-left: 10px;
}

.end{
    width: 30%;
    margin-left: 10%;
}

.end:disabled{
    border: 1px solid white;
    color: gray;
    transition: 1s;
}

.end:enabled{
    transition: 1s;
    background-color: black;
}

.cancel{
    border: 1px solid white;
}

.meio{
    width: 5%;
    margin-left: 10%;
}