<div class="container">
  <h1>Demitir operador</h1>
  <mat-form-field appearance="fill" class="bar">
    <mat-label>ID</mat-label>
    <input [(ngModel)]="operator.id" [formControl]="id" required id="id" matInput placeholder="Ex. 1">
    <mat-error *ngIf="id.invalid">{{ errorValidId() }}</mat-error>
  </mat-form-field>

  <button (click)="dismiss()" [disabled]="errorValidId()" mat-stroked-button color="accent" class="end">Demitir operador</button>
  <button (click)="backNavigate()" mat-stroked-button color="warn" class="cancel">Cancelar</button>
  <p><br></p>
</div>
