.container{
    width: 50%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    border: 1px black solid;
    background-color:  #E3E3E3;
}


button{
    margin-left: 1%;
    border: 1px solid white;
}

.create.create:disabled{
    color: gray;
}

.create.create:enabled{
    border: 1px black solid;
}

.bar{
    width: 100%;
    display: inline;
}

.box{
    display: flex;
}

mat-label{
    color: black;
}

h1{
    color: black;
    text-align: center;
}

mat-option{
    background-color: black;
}

.create.create:disabled{
    color: gray;
}

.create.create:enabled{
    border: 1px black solid;
}

input{
    color: black;
}

input::placeholder{
    color: gray
}

mat-select.mat-color::selection{
    color: black;
}

img{
    height: 40%;
    width: 40%;
}