.container{
    width: 50%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    background-color:  #212121;
}


button{
    margin-left: 1%;
    border: 1px solid white;
}

.create.create:disabled{
    color: gray;
}

.create.create:enabled{
    border: 1px black solid;
}

.bar{
    width: 30%;
}

mat-form-field{
    margin-left: 10%;
    width: 80%;
}

.box{
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    align-items: center;
    display: flex;
    box-shadow: 0 0 1em black;
}

h1{
    text-align: center;
}

mat-option{
    background-color: black;
}

.create{
    margin-left: 1rem;
}

.create.create:disabled{
    color: gray;
    transition: 1s;
}

.create.create:enabled{
    transition: 1s;
    background-color: black;
    border: 1px white solid;
}

.cancel{
    border: 1px white solid;
}

input::placeholder{
    color: gray
}

img{
    height: 40%;
    width: 40%;
}