<div class="mat-elevation-z8 container">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Pesquisa</mat-label>
    <input matInput type="text" [(ngModel)]="filter.name" placeholder="Digite o nome do produto" class="placeholder" value="Digite o nome">
    <button *ngIf="filter.name" matSuffix mat-icon-button aria-label="Clear" (click)="findFilter()">
      <mat-icon>search</mat-icon>
    </button>
    <button *ngIf="filter.name" matSuffix mat-icon-button aria-label="Clear" (click)="filter.name=''" (click)="findFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef><span data-tooltip="Numero do produto"> Np. </span> </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
