.bar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 1rem;
}

.mat-elevation-z8{
    width: 80%;
    height: 50%;
    margin: auto auto auto auto;
}

.container{
    width: 80%;
    margin: auto auto auto auto;
}

.box {
   text-align: center;
}

mat-paginator{
    border-radius: 0 0 12px 12px;
    background-color: #212121;
}

table {
    width: 100%;
}

mat-label{
    color: black;
}

table {
    width: 100%;
    background-color: #212121;
}

button {
    width: 30%;
    margin-bottom: 0.5rem;
}

.inital{
   margin-right: 1rem;
}

.center{
    width: 7%;
    background-color: black;
    border: 1px solid white;
    transition: 1s;
    margin-right: 1rem;
}

.center:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.meio{
    width: 5%;
    margin-top: 1rem;
    margin-left: 10%;
}

[data-tooltip] {
    position: relative;
  }
  
[data-tooltip]:after {
    display: none;
    position: absolute;
    top: -5px;
    padding: 5px;
    border-radius: 3px;
    left: calc(100% + 2px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #0095ff;
    color: White;
}
  
[data-tooltip]:hover:after {
   display: block;
}
