<div class="container">
    <h1>Atualizar preço do produto</h1>
    <mat-form-field appearance="fill" class="bar">
        <mat-label>Id do produto</mat-label>
        <input [(ngModel)]="product.id" [formControl]="id" required id="id" matInput placeholder="Ex. 1">
    </mat-form-field>
    <mat-form-field appearance="fill" class="bar">
        <mat-label>Valor do produto</mat-label>
        <input [(ngModel)]="product.price" [formControl]="price" required price="price" matInput placeholder="Ex. 59.90">
    </mat-form-field>
    <button (click)="updatePrice()" mat-raised-button color="primary" class="center">Atualizar preço</button>
    <button (click)="back()" mat-raised-button color="primary" class="center">Voltar</button>
</div>
