.container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    border: 1px black solid;
    background-color:  #E3E3E3;
}

.box{
    display: flex;
}

.bar{
    width: 100%;
    display: inline;
}

mat-form-field{
    background-color: white;
    color: white;
}

mat-label{
    color: black;
}

button{
    margin-left: 1%;
    border: 1px solid white;
}

.create.create:disabled{
    color: gray;
}

.create.create:enabled{
    border: 1px black solid;
}

.end{
    border: 1px solid white;
}

h1{
    text-align: right;
    margin-right: 30rem;
    color: black;
}

h2{
    margin-left: 2px;
    color: black;
}

img{
    height: 40%;
    width: 40%;
}

input{
    color: black;
}

input::placeholder{
    color: gray
}