<h1>Cadastro cliente</h1>
<div class="container">

    <mat-form-field appearance="fill" class="bar">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex. usuario001">
    </mat-form-field>
    <mat-form-field appearance="fill" class="bar">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex. nome segundoNome">
    </mat-form-field>
    <mat-form-field appearance="fill" class="bar">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex. 000.000.000-00">
    </mat-form-field>
    <mat-form-field appearance="fill" class="bar">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. email@email.com">
    </mat-form-field>
    <mat-form-field appearance="fill" class="bar">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Ex. password123">
    </mat-form-field>
    <div>
        <h2>
            Endereço
        </h2>
        <mat-form-field appearance="fill" class="bar">
            <mat-label>Cep</mat-label>
            <input matInput placeholder="Ex. 00000-000">
        </mat-form-field>
        <mat-form-field appearance="fill" class="bar">
            <mat-label>Numero</mat-label>
            <input matInput placeholder="Ex. 00">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="end">Criar operador</button>
</div>
